<table>
  <tr>
    <th>Número do quarto</th>
    <th>Categoria (Básico, VIP, Premium)</th>
    <th>Preço</th>
    <th>Descrição</th>
    <th>Editar</th>
    <th>Remover</th>
  </tr>
  <tr *ngFor='let room of rooms'>
    <td>{{room.roomNumber}}</td>
    <td>{{room.category}}</td>
    <td>{{room.price}}</td>
    <td>{{room.description}}</td>
    <td><a [routerLink]="['/quarto/edicao', room.id]">Editar</a></td>
    <td><a routerLink="/quartos/lista" (click)="delete(room)">Remover</a></td>
  </tr>
</table>